alembic==1.13.1
asgiref==3.7.2
Babel==2.13.1
blinker==1.7.0
click==8.1.7
colorama==0.4.6
dj-database-url==2.1.0
Django==5.0
django-heroku==0.3.1
dominate==2.9.1
Flask==3.0.0
Flask-Bootstrap==3.3.7.1
Flask-Bootstrap4==4.0.2
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-Script==2.0.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
gunicorn==21.2.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.3.0
MarkupSafe==2.1.3
mysqlclient==2.2.1
packaging==23.2
psycopg2==2.9.9
PyMySQL==1.1.0
python-dateutil==2.8.2
python-decouple==3.8
python-editor==1.0.4
setuptools==68.2.2
six==1.16.0
SQLAlchemy==2.0.24
sqlparse==0.4.4
tkcalendar==1.6.1
typing_extensions==4.9.0
tzdata==2023.3
visitor==0.1.3
Werkzeug==3.0.1
wheel==0.41.2
whitenoise==6.6.0
WTForms==3.1.1
wtforms-html5==0.6.1
python-dotenv==0.18.0
Pillow==10.0.1

