<section class="section mb-3">
    <h1 class="section-heading text-center mb-5 mt-4 black-text wow fadeIn" data-wow-delay="0.2s">About me</h1>

    <div class="row wow FadeIn" data-wow-delay="0.4s">
        <div class="cold-md-12 pb-5 text-center black-text">
            <p class="lead mb-4">My name is Luuk De Werd, I'm a Photographer.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum modi suscipit in error nostrum nulla 
                corrupti vitae obcaecati quidem voluptate perspiciatis, totam vero fugiat 
                doloribus! Ad necessitatibus eaque consectetur numquam nostrum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum modi suscipit in error nostrum nulla 
                corrupti vitae obcaecati quidem voluptate perspiciatis, totam vero fugiat 
                doloribus! Ad necessitatibus eaque consectetur numquam nostrum!</p>
        </div>
    </div>
</section>