<section class="section mb-3" id="about">
    <h1 class="section-heading text-center mb-5 mt-4 black-text wow fadeIn" data-wow-delay="0.2s">About Me</h1>
  
    <div class="row wow FadeIn" data-wow-delay="0.4s">
      <div class="col-md-12 pb-5 text-center black-text">
        <p class="lead mb-4 text-center display-6">My name is Luuk De Werd, I'm a photographer.</p>
        <p class="text-left h6">I am an allround photographer from the city of Tilburg, The Netherlands, and I capture calmness and pureness amidst the entirety. My work can be described best as serene and minimalistic with a lot of color and contrast.</p>
        <p class="text-left h6">So far I've had the opportunity to exhibit my work on several occasions in Tilburg, with most recently my participation in the Kunstscene hosted by Ateliers Tilburg. Here I exhibited my favorite photos in the office of De Bont Makelaardij.</p>
        
      </div>
    </div>
</section>
