<header>
    <div class="view jarallax" data-jarallax='{"speed":0.2}'
      style="background-image: url('https://static.vecteezy.com/system/resources/previews/026/481/319/large_2x/serenity-and-peace-with-this-breathtaking-4k-wallpaper-depicting-a-tranquil-natural-landscape-free-photo.jpg');
      background-repeat:no-repeat;
      background-size:cover;
      background-position: center center;
      min-height:1000px;">
      <div class="mask rgba-black-strong">
        <div class="container h-100 d-flex justify-content-center align-items-center">
          <div class="row smooth-scroll">
            <div class="col-md-12">
              <div class="white-text text-center">
                <h2 class="display-3 font-weight-bold pb-4 mb-2 wow fadeIn">Luuk De Werd</h2>
                <h3 class="intro-subtext wow fadeIn" data-wow-delay="0.2s">Professional Photographer📷</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  