<section class="section">
    <h1 class="section-heading text-center mb-5 mt-4 black-text wow fadeIn" data-wow-delay="0.2s">My Work</h1>

    <div class="row wow FadeIn" data-wow-delay="0.4s">
        <dvi class="cold-md-12">
            <div id="mdb-lightbox-ui">
                <div class="mdb-lightbox">
                    <figure class="col-md-4">
                        <img src="https://cdn.pixabay.com/photo/2015/11/21/15/29/camera-1055066_640.jpg" alt="image">
                    </figure>
                    <figure class="col-md-4">
                        <img src="https://cdn.pixabay.com/photo/2015/11/21/15/29/camera-1055066_640.jpg" alt="image">
                    </figure>
                    <figure class="col-md-4">
                        <img src="https://cdn.pixabay.com/photo/2015/11/21/15/29/camera-1055066_640.jpg" alt="image">
                    </figure>
                    <figure class="col-md-4">
                        <img src="https://cdn.pixabay.com/photo/2015/11/21/15/29/camera-1055066_640.jpg" alt="image">
                    </figure>
                    <figure class="col-md-4">
                        <img src="https://cdn.pixabay.com/photo/2015/11/21/15/29/camera-1055066_640.jpg" alt="image">
                    </figure>
                    <figure class="col-md-4">
                        <img src="https://cdn.pixabay.com/photo/2015/11/21/15/29/camera-1055066_640.jpg" alt="image">
                    </figure>
                    <figure class="col-md-4">
                        <img src="https://cdn.pixabay.com/photo/2015/11/21/15/29/camera-1055066_640.jpg" alt="image">
                    </figure>
                    <figure class="col-md-4">
                        <img src="https://cdn.pixabay.com/photo/2015/11/21/15/29/camera-1055066_640.jpg" alt="image">
                    </figure>
                    <figure class="col-md-4">
                        <img src="https://cdn.pixabay.com/photo/2015/11/21/15/29/camera-1055066_640.jpg" alt="image">
                    </figure>
                </div>
            </div>
        </dvi>

    </div>
</section>